.current {
    color: lightblue;
}
body{
    background-color: purple;
    background-image: url(background.jpg);
    font-family: 'Times New Roman', Times, serif;

}
.additional{
    background-image: url(orcasoutline.png);
    background-position: right;
    background-repeat: no-repeat;
}
.list{
    list-style-image: url(icon.png);
}