body {
    font-family: Arial, Helvetica, sans-serif;
}
#first {
    color: blue;
}
.second {
    color: green;
}
.bigger {
    font-size: 24pt;
}
main .bigger {
    color: purple;
    font-family: jokerman;
}
.bolder{
    font-style: bold;
}