body {
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
        "header header header"
        "navigation navigation navigation"
        "aside1 main main"
        "footer footer footer";
}

header{grid-area: header;}
nav {grid-area: navigation;}
.aside1 {grid-area: aside1;}
main { grid-area: main;}
footer {grid-area: footer;}


.itemA { grid-area: header1;}
.itemB { grid-area: header2;}
.itemC { grid-area: header3;}
.itemD { grid-area: main1;}
.itemE { grid-area: main2;}
.itemF { grid-area: main3;}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 400px;
    gap: 10px;
    grid-template-areas: 
    "header1 header2 header3"
    "main1 main2 main3";
}

.item {
    background-color: cadetblue;
    padding: 20px 10px;
    width: 200px;
    box-shadow: 1px 2px 3px black ;
}
nav {
    margin-bottom: 10px;
    background-color: lightgreen;
    display: block;
}
.spot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

.link1 {grid-area: area1;}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 10px;

}