body {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}
.item {
    background-color: cadetblue;
    padding: 20px 10px;
    width: 200px;
}