body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: aliceblue;
    text-align: center;
}

header h1 {
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: palegoldenrod;
}

nav a {
    display: block;
    padding: 5px 10px;
    
}

.row{
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    
}

.card{
    width: 200px;
    border: thin solid rgb(195, 173, 173);
    box-shadow: 2px 3px 4px;
    margin: 5px;

}

.card img{
    width: 100%;
}

.bar img {
    width: 70%;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
        "header header header"
        "navigation navigation navigation"
        "aside1 main main"
        "footer footer footer";
}

header{grid-area: header;}
nav {grid-area: navigation;}
.aside1 {grid-area: aside1;}
main { grid-area: main;}
footer {grid-area: footer;}

.spot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

 .aside1 img {
    width: 100%;
 }



.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}