body {
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
}


.card{
    width: 200px;
    border: thin solid rgb(195, 173, 173);
    box-shadow: 2px 3px 4px;
    margin: 10px;
    background-color: rgb(211, 232, 238);
    justify-content: center;
}

.container {
    display: flex;
}

.card img{
    width: 100%;
}

.card p {
    margin: 8px;
}

.t1{
    
    border: thin solid black
}
.t1 thead {
    border: thin solid black;
    background-color: lightblue;
}
.t1 th {
    border: thin solid black;
}

.t1 tbody tr:nth-child(odd){
    background-color: gray;
}

#current {
    color: black;
}

nav {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;
    background-color: rgb(120, 139, 139);
    padding: 5px;
}

#hotel img {
    border: thick solid rgb(144, 65, 65) ;
}

#boat img{
    border: thick solid rgb(14, 14, 150);
}

.header {
    padding: 10px;
    background-color: rgb(109, 148, 161);
    text-align: center;
    margin: 10px;
}

.card1{
    width: 200px;
    box-shadow: 2px 3px 4px;
    margin: 10px;
    background-color: rgb(130, 147, 151);

}

.card1 img{
    width: 100%;
    height: 200px;
}

.card1 p {
    margin: 8px;
}

.meal {
    border: thick solid rgb(69, 72, 74);
    text-align: center;
}

.wrapper{
    background-color: rgb(112, 145, 169);
    margin: 10px;
}

#button {
    height: 10px;
    width: 100px;
    background-color: rgb(194, 216, 216);
}

.pic {
    display: block;
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    nav a {
        margin: 5px;
        width: 100px;
    }

    .container {
        flex-direction: column;
    }
    .frow {
        flex-direction: column;
    }
    .frow label {
        text-align: left;
    }

}
